.attribution { 
    font-size: 0.8em; text-align: center; 
    color: hsl(215, 51%, 70%);
}
.attribution a { 
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}

body {
    background-color: hsl(217, 54%, 11%);
    font-size: 1rem;
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0 1rem;
    }

.container {
    margin-top: 5%;
    height: fit-content;
    max-height: 51rem;
    width: fit-content;
    max-width: 28rem;
    background-color: hsl(216, 50%, 16%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.1rem 2.1rem 1.1rem 2.1rem;
    border-radius: 2rem;
    box-shadow: 0 30px 60px 30px hsl(214, 47%, 6%);
}

.imageDiv {
    z-index: 0;
    height: auto;
}


.nftImage {
    z-index: 1;
    max-width: 100%;
    height: auto;
    border-radius: 1rem;
    box-shadow: 0 5px 5px 5px hsl(215, 40%, 14%);
}

.blueBox {
    position: absolute;
    z-index: 1;
    border-radius: 1rem;
    width: 86%;
    max-width: 28rem;
    height: 28rem;
    max-height: 28rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.blueBox:hover {
    z-index: 2;
    background-color: cyan;
    opacity: 0.8;
    background-image: url('images/icon-view.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100px 100px;
    cursor: pointer;
}

.info {
    padding: 0.5rem;
    margin-top: 1.2rem;
}
.info a {
    color: white;
    font-size: 2rem;
    text-decoration: none;
}

.info a:hover {
    color: cyan;
}

.info p {
    color: hsl(215, 51%, 70%);
    font-size: 1.5rem;
}


.ethCountdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    width: 100%;
    font-size: x-large;
}

.eth {
    color: hsl(178, 100%, 50%);
    display: flex;
    align-items: center;
}

.eth i {
    margin-right: 0.5vw;
}

.countdown {
    color: hsl(215, 51%, 70%);
    display: flex;
    align-items: center;
}

.countdown i {
    margin-right: 1vw;
}

.countdown p {
    font-size: 1.3rem;
}

.creatorInfo {
    color: hsl(215, 51%, 70%);
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}

.avatar {
    border-radius: 50%;
    max-width: 5rem;
    width: 2.7rem;
    border-style: solid;
    border-color: white;
}

.creatorInfo a {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
}

.creatorInfo a:hover {
    color: cyan;
}

.creatorInfo img {
    margin: 0.5rem 1.5rem 0.5rem 0.2rem;
}

footer {
    text-align: center;
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;
}

hr {
    width: 100%;
    border-color: hsl(215, 32%, 27%);
}


